{% extends "base.html" %}
{% block content %}

<h2>👥 Friends</h2>

<!-- SEARCH -->
<form method="get">
  <input type="text" name="q" placeholder="Search users...">
  <button type="submit">Search</button>
</form>

<hr>

<h3>Your Friends</h3>
{% for f in friends %}
  <p>{{ f.username }}</p>
{% empty %}
  <p>No friends yet.</p>
{% endfor %}

<hr>

<h3>Pending Requests</h3>
{% for req in received_requests %}
  <p>
    {{ req.sender.username }}
    <a href="{% url 'accept_friend_request' req.id %}">
      <button>Accept</button>
    </a>
  </p>
{% empty %}
  <p>No requests.</p>
{% endfor %}

<hr>

<h3>Find Users</h3>
{% for u in users %}
  <p>
    {{ u.username }}

    {% if u.id in friends_ids %}
        ✔ Friends
    {% elif u.id in sent_requests %}
        ⏳ Request Sent
    {% else %}
        <a href="{% url 'send_friend_request' u.id %}">
            <button>Add Friend</button>
        </a>
    {% endif %}
  </p>
{% endfor %}

{% endblock %}
